@model List<project1.Models.DTO.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2>User List</h2>

@if (Session["role"].ToString() == "ADMIN")
{
    <a class="btn btn-lg btn-primary" style="margin:0px 0px 15px 0px" href="@Url.Action("Create","User")">Create</a> //la funcion create del controlador user

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("Update","User", new {id=user.Id})">Edit</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete","User", new {id=user.Id})">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <h2>You don't have Access!!</h2>
}

