@model List<project1.Models.DTO.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2>User List</h2>

@if (Session["role"].ToString() == "ADMIN")
{
    <a class="btn btn-lg btn-primary" style="margin:0px 0px 15px 0px" href="@Url.Action("Create","User")">Create</a> //la funcion create del controlador user

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td><a href ="#" onclick="getRole(@user.Id)">@user.Id</a></td>
                    <td id="role_@user.Id"></td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("Update","User", new {id=user.Id})">Edit</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete","User", new {id=user.Id})">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <h2>You don't have Access!!</h2>
}

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
      
            function getRole(idUser) {
                $.ajax({
                    url: "@Url.Action("getRole")",
                    data: { id: idUser },
                    type: "GET",
                    success: function (response) {
                        $("#role_" + idUser).text(response);
                    }
                })
            }
    </script>
}

